/* Colors */

$base-white: #eee;
$background-white: #f3f3f3;
$madlabs-red: #D32F2F;
$madlabs-red-dark: #c02929;
$medium-black: #333;
$gray-on-gray: #999;

/* Font */

$main-fonts: "Lato", Arial, sans-serif;
$text-fonts: "Lato", Arial, sans-serif;

/* Font sizes */

$hero-logo-size: 140px;
$default-line-height-0: 1.2;
$default-line-height-1: 1.33;
$default-line-height-2: 1.33;
$default-line-height-3: 1.55;

$base-font-size: 15.2px;
$heading-font-size: 1.75rem;
$heading-font-size-resp-0: 1.75rem;
$heading-font-size-resp-1: 2rem;
