/* Colors */
/* Font */
/* Font sizes */
@media screen and (max-width: 768px) {
  /* line 4, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  html {
    zoom: 100%; }

  /* line 7, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .div-heading {
    font-size: 1.75rem; }

  /* line 10, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .sm-centered {
    clear: both; }

  /* line 13, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .mobile-display {
    display: block !important; }

  /* line 16, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .desktop-display {
    display: none !important; }

  /* line 19, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .container {
    padding: calc(3rem) calc(1.5rem) !important; }

  /* line 22, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  #faq {
    /* Specific adjustments, not scales */ }
    /* line 23, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .container {
      padding: calc(3rem) calc(1.5rem) !important; }
    /* line 26, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq h5 {
      margin-top: 0rem;
      margin-bottom: 0.15rem; }
    /* line 31, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .question {
      font-size: 1.2rem; }
    /* line 34, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .answer {
      font-size: 1.1rem; }
    /* line 37, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .qas-s {
      margin-top: 1rem; }
    /* line 40, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .qas {
      margin: 2rem 0; }
    /* line 43, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .qas-middle-e {
      margin-top: 1rem; }
    /* line 46, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .qas-middle-s {
      margin-bottom: 1rem; }
    /* line 49, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
    #faq .qas-e {
      margin-bottom: 1rem; }

  /* line 53, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .icon-info-container {
    padding: 0; } }
@media screen and (max-width: 480px) {
  /* line 59, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  html {
    font-size: 15px; }

  /* line 62, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .container {
    padding: calc(3rem) calc(1.5rem) !important; }

  /* line 65, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .btn {
    font-size: 1.1rem; }

  /* line 69, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  #footer .container {
    padding: calc(4rem * 0.5) 1.25rem; }
  /* line 72, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  #footer .text {
    margin-bottom: 0.75rem; }
  /* line 75, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  #footer .icon {
    font-size: 1.5rem; }

  /* line 81, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  #hero .punchline.first {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  /* line 85, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  #hero .punchline.major {
    font-size: 1.75rem; }

  /* line 91, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  .icon-info-container i.icon {
    font-size: 5.5rem; }

  /* line 98, /Users/nishanthshanmugham/Development/umad-website-2015/source/stylesheets/responsive.css.scss */
  #schedule .filter-container a {
    margin-top: 8px;
    margin-bottom: 8px; } }
