<!-- EVENTS -->
<div id="events">
    <div class="container">
        <div class="row centered heading">
            <div class="col-md-8 col-md-offset-2 col-sm-12 centered">
                <div class="centered div-heading">Events</div>
            </div>
        </div>
        <div class="row-fluid centered">
            <div class="col-md-4 col-sm-12 centered">
                <div class="icon-info-container" id="icon-keynotes">
                    <div class="action keynotes">
                        <i class="icon ion-ios-mic"></i>
                    </div>
                    <div class="text">Keynotes by Leading</div>
                    <div class="text">Designers in the Industry.</div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-12 centered">
                <div class="icon-info-container" id="icon-workshops">
                    <div class="action workshops">
                        <i class="icon ion-android-compass"></i>
                    </div>
                    <div class="text">Technical Workshops by Engineers</div>
                    <div class="text">Who Build Some of the Most</div>
                    <div class="text">Widely Used Products.</div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-12 centered">
                <div class="icon-info-container" id="icon-present">
                    <div class="action projects">
                        <i class="icon ion-laptop"></i>
                    </div>
                    <div class="text">Opportunities to Showcase Your Personal Projects to Developers</div>
                    <div class="text">and Recruiters.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END EVENTS -->
