<!-- FAQ -->
<div id="faq" class="cards">
    <div class="container">
        <div class="row centered heading">
            <div class="col-md-8 col-md-offset-2 centered">
                <div class="centered div-heading">FAQ</div>
            </div>
        </div>
        
        <div class="row sm-centered">
            <div class="col-lg-4 col-md-4 col-sm-4 qas qas-s">
                <h5 class="question">Is this a hackathon?</h5>
                <p class="answer">No, we are a developers conference.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 qas">
                <h5 class="question">Who can attend?</h5>
                <p class="answer">All UT Austin students are allowed to attend. You will be notified in Febraury.</p>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 qas qas-middle-s">
                <h5 class="question">How much does it cost?</h5>
                <p class="answer">Nothing, it's completely free.</p>
            </div>
        </div>
        
        <div class="row sm-centered">
            <div class="col-lg-4 col-md-4 col-sm-4 qas qas-middle-e">
                <h5 class="question">What should I bring?</h5>
                <p class="answer">Just yourself, your computer, and your conference badge.</p>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 qas">
                <h5 class="question">Do I need to have experience in mobile or web development?</h5>
                <p class="answer">Nope, there will be courses for both beginners and advanced folks.</p>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 qas qas-e">
                <h5 class="question">More questions?</h5>
                <p class="answer">Contact us at <a href="mailto:mad@cs.utexas.edu">mad@cs.utexas.edu</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- FAQ -->
