<!-- ICON INFO -->
<div id="icon-info">
    <div class="container">
        <div class="row centered heading">
            <div class="col-md-8 col-md-offset-2 col-sm-12 centered">
                <div class="centered div-heading">See You Here</div>
            </div>
        </div>
        
        <div class="row centered">
            <div class="col-md-4 col-md-offset-4 col-sm-12 centered">
                <div class="icon-info-container" id="icon-place">
                    <div class="action">
                        <i class="icon ion-location"></i>
                    </div>
                    <div class="text">Gates and Dell Complex.</div>
                    <div class="text">Febraury 21, 2015,</div>
                    <div class="text">10 AM &ndash; 8 PM.</div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- END ICON INFO -->
