<!-- SPONSORS -->
<div id="sponsors">
    <div class="container">

        <!-- FIRST LEVEL SPONSORS -->
        <div class="row centered heading">
            <div class="col-md-8 col-md-offset-2 col-sm-12 centered">
                <div class="centered div-heading">Sponsors</div>
            </div>
        </div>
        
        <div class="row top">
            <div class="sponsor-container" id="sponsor-a16z">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 first-level-sponsors centered">
                    <a href="https://a16z.com/" target="_blank">
                        <img src="/images/sponsors/a16z.png" title="Andreessen Horowitz">
                    </a>
                </div>
            </div>
        </div>
        <!-- END FIRST LEVEL SPONSORS -->

        <!-- SECOND AND THIRD LEVEL SPONSORS -->
        <div class="row">
            <div class="sponsor-container" id="sponsor-google">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 second-level-sponsors centered">
                    <a href="//www.google.com/intl/en/about/" target="_blank">
                        <img src="/images/sponsors/google.png" title="Google">
                    </a>
                </div>
            </div>
            
            <div class="sponsor-container" id="sponsor-retailmenot">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 second-level-sponsors centered">
                    <a href="//www.retailmenot.com/" target="_blank">
                        <img src="/images/sponsors/retailmenot.png" title="RetailMeNot">
                    </a>
                </div>
            </div>
            
            <div class="sponsor-container" id="sponsor-hubspot">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 second-level-sponsors centered">
                    <a href="//www.hubspot.com/" target="_blank">
                        <img src="/images/sponsors/hubspot.png" title="HubSpot">
                    </a>
                </div>
            </div>
            <div class="sponsor-container" id="sponsor-visa">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 second-level-sponsors centered">
                    <a href="//visa.com" target="_blank">
                        <img src="/images/sponsors/visa.png" title="Visa">
                    </a>
                </div>
            </div>
            <div class="sponsor-container"  id="sponsor-gm">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 second-level-sponsors centered">
                    <a href="//www.gm.com/" target="_blank">
                        <img src="/images/sponsors/gm.png" title="General Motors">
                    </a>
                </div>
            </div>
            
            <div class="sponsor-container" id="sponsor-mutualmobile">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 second-level-sponsors centered">
                    <a href="//www.mutualmobile.com/" target="_blank">
                        <img src="/images/sponsors/mutualmobile.png" title="Mutual Mobile">
                    </a>
                </div>
            </div>
            <div class="sponsor-container" id="sponsor-tilt">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 second-level-sponsors centered">
                    <a href="//www.tilt.com/" target="_blank">
                        <img src="/images/sponsors/tilt.png" title="Tilt">
                    </a>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 centered"></div>
            <div class="sponsor-container"  id="sponsor-microsoft">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 third-level-sponsors centered">
                    <a href="//www.microsoft.com/en-us/default.aspx" target="_blank">
                        <img src="/images/sponsors/microsoft.png" title="Microsoft">
                    </a>
                </div>
            </div>
            <div class="sponsor-container" id="sponsor-goldmansachs">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 third-level-sponsors centered">
                    <a href="//www.goldmansachs.com/" target="_blank">
                        <img src="/images/sponsors/goldmansachs.png" title="Goldman Sachs">
                    </a>
                </div>
            </div>
            
            <div class="sponsor-container" id="sponsor-yodle">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 third-level-sponsors centered">
                    <a href="//www.yodle.com/" target="_blank">
                        <img src="/images/sponsors/yodle.png" title="Yodle">
                    </a>
                </div>
            </div>
            <!-- END SECOND AND THIRD LEVEL SPONSORS -->
        </div>
    </div>
</div>
<!-- END SPONSORS -->
