<!-- WHAT IS UMAD -->
<div id="what-is-umad">
    <div class="container">
        <div class="row centered heading">
            <div class="col-md-8 col-md-offset-2 centered">
                <div class="centered div-heading">What is <span class="wyswig">uMAD</span>?</div>
            </div>
        </div>
        <div class="row-fluid centered">
            <div class="col-md-10 col-sm-12 col-md-offset-1">
                <p>University of MAD (uMAD) is an annual daylong conference providing UTCS students with key insights into mobile, web, and cloud technologies used in the industry everyday.</p>
            </div>
        </div>
    </div>
</div>
<!-- END WHAT IS UMAD -->
